{% extends "base.html" %} {% block content %}
<main class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4 mt-5">
            <form action="/create_task/" method="POST" class="card card-body">
                <h1 class="text-center">Crear Tarea</h1>

                {% csrf_token %} {{ form.as_p }}

                <button class="btn btn-dark w-100 mt-3" type="submit">
                    Guardar
                </button>
            </form>
        </div>
    </div>
</main>
{% endblock %}
